* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

#wrapper {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

img {
    width: 100%;
}

.heading {
    background-color: black;
    padding: 0 2rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.tag:hover {
    scale: 1.2;
    transition: all 0.3s;
}

.name {
    display: flex;
    align-items: center;
}

.name-tag {
    font-size: 4rem;
    font-weight: 800;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    color: #6e6e73;
    font-size: 1.2rem;
    text-align: justify;
}

.container {
    margin: 2rem 10rem;
}

ul {
    padding-left: 2rem;
    list-style-position: inside;
}

li {
    list-style-type: circle;
    color: #6e6e73;
    font-size: 1.2rem;
}


.list-items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.copyright-text {
    text-align: center;
    color: black;
    font-size: .9rem;
    padding: 1rem 0;
}

/*Adding media query */
@media (max-width: 1000px) {
    .container {
        margin: 2rem 5rem;
    }
}

@media (max-width: 800px) {
    .navigation {
        display: none;
    }
}

@media (max-width: 720px) {
    .container {
        margin: 2rem 2rem;
    }

    .name-tag {
        font-size: 2rem;
        font-weight: 600;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: .9rem;
    }

    .copyright-text {
        font-size: .7rem;
    }
}

/*************** Gallery css ******************/
#gallery-container {
    background-color: #F0F0F0;
}
.image-container {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Poppins', sans-serif;  
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 32%;
    height: 25rem;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden; 
    border-radius: 10px;
}

.card img {
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px #333);
    transition: 0.3s;
}

.card:hover img {
    filter: grayscale(0%);
}

.card figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
}

.card:hover figcaption {
    opacity: 1;
    transform: scale(1.03);
}

/* Adding media query */ 
@media (max-width: 1200px) {
    .card {
        width: 49%;
    }

    .card figcaption {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .card {
        width: 100%;
    }

    .card figcaption {
        font-size: 10px;
    }
}